
body {
  padding: 0.5rem;
  min-height: 100svh;
     background-color: var(--color-bg-hi);
        width: 100%;
        margin-top: -4rem;
        padding-top: 4rem;
        margin-left: -0.1rem;
        padding-left: 0.1rem;
}
* {
  box-sizing: border-box;
}
.Menu{
    
}

#template {
border: 2px solid rgb(0, 0, 0);
  display: grid;
  height: 90px;
  background-color: rgb(52, 204, 6);
  border-color: black;
}
.adicionar-categoria{
    border: 2px solid rgb(0, 0, 0);
    display: inline-flexbox;
}
.info {
    border: 1px solid black;
  background-color: green;
  display: grid;
  grid-template-areas: "nome nome   excluir";
}
.nome {
  grid-area: nome;
}
.botao-excluir {
    border: 1px solid black;
  grid-area: excluir;
}
.opcoes{
    border: 1px solid black;
    display: inline-block;
}
.adicionar-ok{
    height: 200px;
    border: 1px solid black;
}
